{% extends "base.html" %}

{% block title %} 顧客關係管理 {% endblock title %}

{% block content %}
    <!--  -->
    <br><br>
    <div class="col-md-12">
        <div id="customer_rel_tab" class="btn-group" role="group" aria-label="Basic example">
{#            <a class="btn btn-primary btn-light" href="{% url 'mcdonalds:binary_tree' %}" role="button">二元樹</a>#}
            <a class="btn btn-primary btn-light" href="{% url 'mcdonalds:survival_rate' %}" role="button">存活率 / 留存率</a>
            <a class="btn btn-primary btn-light" href="{% url 'mcdonalds:rfm' %}" role="button">RFM</a>
        </div>
    </div>


    {% if tab_selected == 'survival_rate' %}<!-- 存活率 -->

        <div style="min-height:70vh;min-width: 80vw">
            {% if survival_rate_graph %}
                {% autoescape off %}
                {{ survival_rate_graph|safe }}
                {% endautoescape %}
            {% else %}
                <h5>存活率圖表無法顯示</h5>
            {% endif %}
        </div>
    {% elif tab_selected == 'rfm' %}<!-- RFM -->

        {% if rfm_list %}
            <div class="col-md-12 input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >搜尋 RFM 小組</span>
                </div>
                <input id="search_rfm_value" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div  class="col-md-12 table-responsive">
{#                TODO data table: Uncaught TypeError: Cannot read property 'length' of undefined#}
                <table id="bootstrapdatatable" class="display table table-bordered text-center " data-toggle="table">
                    <thead class="thead-dark">
                        <tr>
{#                            <th></th>#}
                            <th>RFM 小組</th>
                            <th data-sortable="true">實際回應率</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rfm in rfm_list %}
                            <tr data-toggle="collapse" data-target=".rfm{{ rfm.rfm_id }}">
{#                                <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>#}
                                <td class="font-weight-bold">{{ rfm.rfm_value }}</td>
                                <td class="font-weight-bold">{{ rfm.actual_resp_rate }}%</td>
                            </tr>
                            <tr id="rfm{{ rfm.rfm_id }}" class="collapse "></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {# TODO 分頁 #}

{#            <div class="col-md-12" aria-label="Page navigation example">#}
{#                <br>#}
{#              <ul class="pagination">#}
{#                <li class="page-item"><a class="page-link" href="#">Previous</a></li>#}
{#                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>#}
{#                <li class="page-item"><a class="page-link" href="?page=2">2</a></li>#}
{#                <li class="page-item"><a class="page-link" href="?page=3">3</a></li>#}
{#                <li class="page-item"><a class="page-link" href="#">Next</a></li>#}
{#              </ul>#}
{#            </div>#}
        {% else %}
            <div>資料庫中沒有 RFM 資料。</div>
        {% endif %}


    {% endif %}




{% endblock content %}
{% block extra_scripts %}
    <script type="text/javascript">
        $(document).ready(function() {

            $("#search_rfm_value").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                {#$("#rfm_area tr").filter(function() {#}
                $("#bootstrapdatatable tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            {#console.log($('#bootstrapdatatable').find())#}

            {#$('#bootstrapdatatable').dataTable({#}
            {#    "aLengthMenu": [[3, 5, 10, 25, -1], [3, 5, 10, 25, "All"]],#}
            {#    "iDisplayLength": 3#}
            {#   }#}
            {#);#}

            {# 折疊效果，選取一個 RFM 小組後，下方會顯示該 RFM 小組的 Customers #}
            $('tr[data-toggle]').on('click', function() {
                var rfm_id = $(this).attr('data-target').substring(4);
                {#var new_tr = $('#rfm' + rfm_id);#}
                {# 這裡用 length 判斷有沒有此元素 #}
                if ($('#rfm_rows' + rfm_id + ' > tr').length) { {# 有此元素的話，就是折疊效果 #}
                    if ($('#td_rfm' + rfm_id).hasClass('collapse')) {
                        $('#td_rfm' + rfm_id).removeClass('collapse')
                    } else {
                        $('#td_rfm' + rfm_id).addClass('collapse')
                    }
                } else { {# 沒有此元素的話，就需要查詢對應的 customers #}
                    {# 有點 tricky 的寫法，將 js 的 variable 作為 django template 的 URL 的參數 #}
                    var url = "{% url 'mcdonalds:customer' rfm_id='12345' %}".replace(/12345/, rfm_id.toString());
                    $.ajax({
                        type: 'GET',
                        url: url,
                        contentType: 'application/json',
                        success: function(data) {
                            console.log('data', JSON.parse(data['customer_list'])); {# TODO null #}
                            customers = JSON.parse(data['customer_list']);
                            $('#rfm' + rfm_id).after("<td class=\"col-md-12\" colspan=\"2\" id=\"td_rfm" + rfm_id + "\">"+
                                                "<table class=\"table table-bordered\">"+
                                                    "<thead class=\"thead-light\">"+
                                                        "<tr>" +
                                                            "<th>姓名</th>" +
                                                            "<th>性別</th>" +
                                                            "<th>Email</th>" +
                                                        "</tr>"+
                                                    "</thead>"+
                                                    "<tbody id=\"rfm_rows"+ rfm_id +"\">" +
                                                    "</tbody>"+
                                                "</table>"+
                                            "</td>")
                            for (var i = 0; i < customers.length; i++) {
                                var gender = customers[i].fields.gender == 0 ? "女":"男"
                                var email = customers[i].fields.email == null ? "":customers[i].fields.email
                                $('#rfm_rows' + rfm_id).append(
                                                    "<tr>" +
                                                        "<td>"+ customers[i].fields.name +"</td>" +
                                                        "<td>"+ gender +"</td>" +
                                                        "<td>"+ email +"</td>" +
                                                    "</tr>")

                            }

                        },
                        error: function(error) {
                            console.log('error', error)
                        }
                    });
                }

            });



        });
    </script>
{% endblock %}