{% extends "base.html" %}

{% block title %} 顧客關係管理 {% endblock title %}

{#{% block extra_reference_link %}#}
{#    <script type="text/javascript" src="{% static 'decision_tree.js' %}"></script>#}
{#{% endblock %}#}
{% block extra_css %}
    <style>
        .tree ul {
            padding-top: 20px; position: relative;

            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
        }

        .tree li {
            float: left; text-align: center;
            list-style-type: none;
            position: relative;
            padding: 20px 5px 0 5px;

            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
        }

        .tree li::before, .tree li::after{
            content: '';
            position: absolute; top: 0; right: 50%;
            border-top: 1px solid #ccc;
            width: 50%; height: 20px;
        }
        .tree li::after{
            right: auto; left: 50%;
            border-left: 1px solid #ccc;
        }

        .tree li:only-child::after, .tree li:only-child::before {
            display: none;
        }

        .tree li:only-child{ padding-top: 0;}

        .tree li:first-child::before, .tree li:last-child::after{
            border: 0 none;
        }
        .tree li:last-child::before{
            border-right: 1px solid #ccc;
            border-radius: 0 5px 0 0;
            -webkit-border-radius: 0 5px 0 0;
            -moz-border-radius: 0 5px 0 0;
        }
        .tree li:first-child::after{
            border-radius: 5px 0 0 0;
            -webkit-border-radius: 5px 0 0 0;
            -moz-border-radius: 5px 0 0 0;
        }
        .tree ul ul::before{
            content: '';
            position: absolute; top: 0; left: 50%;
            border-left: 1px solid #ccc;
            width: 0; height: 20px;
        }
        .tree li div{
            border: 1px solid #ccc;
            padding: 5px 10px;
            text-decoration: none;
            color: #666;
            font-family: arial, verdana, tahoma;
            font-size: 11px;
            display: inline-block;

            border-radius: 5px;
            -webkit-border-radius: 5px;
            -moz-border-radius: 5px;

            transition: all 0.5s;
            -webkit-transition: all 0.5s;
            -moz-transition: all 0.5s;
        }
        .tree li div:hover, .tree li div:hover+ul li div {
            background: #c8e4f8; color: #000; border: 1px solid #94a0b4;
        }
        .tree li div:hover+ul li::after,
        .tree li div:hover+ul li::before,
        .tree li div:hover+ul::before,
        .tree li div:hover+ul ul::before{
            border-color:  #94a0b4;
        }
        tr .collapse .in {
          display:table-row;
        }

    </style>
{% endblock %}

{% block content %}
    <!--  -->
    <br><br>
    <div class="col-md-12">
        <div id="customer_rel_tab" class="btn-group" role="group" aria-label="Basic example">
            <a class="btn btn-primary btn-light" href="{% url 'mcdonalds:binary_tree' %}" role="button">二元樹</a>
            <a class="btn btn-primary btn-light" href="{% url 'mcdonalds:survival_rate' %}" role="button">存活率</a>
            <a class="btn btn-primary btn-light" href="{% url 'mcdonalds:rfm' %}" role="button">RFM</a>
        </div>
    </div>

    {# TODO 尚未完成顧客關係管理 #}
    {% if tab_selected == 'binary_tree' %}<!-- 二元樹 -->
{#        <div class="tree">#}
{#            <ul>#}
{#                <li>#}
{#                    <div><input type="checkbox"> Main <br/> <button> Test Btn </button></div>#}
{#                    <ul>#}
{#                        <li><div><input type="checkbox"> Sub-1</div></li>#}
{#                        <li>#}
{#                            <div><input type="checkbox"> Sub-2</div>#}
{#                            <ul>#}
{#                                <li><div><input type="checkbox"> Sub-2-1</div></li>#}
{#                                <li><div><input type="checkbox"> Sub-2-2</div></li>#}
{#                            </ul>#}
{#                        </li>#}
{#                    </ul>#}
{#                </li>#}
{#            </ul>#}
{#        </div>#}
        <h5>還要再找找看合適的 decision tree</h5>
        <div class="tree">
            <ul>
                <li>
                    <div>Main</div>
                    <ul>
                        <li><div>Sub-1</div></li>
                        <li>
                            <div>Sub-2</div>
                            <ul>
                                <li><div>Sub-2-1</div></li>
                                <li><div>Sub-2-2</div></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </div>


    {% elif tab_selected == 'survival_rate' %}<!-- 存活率 -->

        <div style="min-height:70vh;min-width: 80vw">
            {% if survival_rate_graph %}
                {% autoescape off %}
                {{ survival_rate_graph|safe }}
                {% endautoescape %}
            {% else %}
                <h5>存活率圖表無法顯示</h5>
            {% endif %}
        </div>
    {% elif tab_selected == 'rfm' %}<!-- RFM -->

        {% if rfm_list %}
            <div class="col-md-12 input-group mb-3">
                <div class="input-group-prepend">
                    <span class="input-group-text" >搜尋 RFM 小組</span>
                </div>
                <input id="search_rfm_value" type="text" class="form-control" aria-label="Default" aria-describedby="inputGroup-sizing-default">
            </div>
            <div  class="col-md-12">
                <table id="rfm_area" class="table table-bordered  text-center" data-toggle="table">
                    <thead class="thead-dark">
                        <tr>
{#                            <th></th>#}
                            <th>RFM 小組</th>
                            <th data-sortable="true">實際回應率</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for rfm in rfm_list %}
                            <tr data-toggle="collapse" data-target=".rfm{{ rfm.rfm_id }}">
{#                                <td><button class="btn btn-default btn-xs"><span class="glyphicon glyphicon-eye-open"></span></button></td>#}
                                <td class="font-weight-bold">{{ rfm.rfm_value }}</td>
                                <td class="font-weight-bold">{{ rfm.actual_resp_rate }}%</td>
                            </tr>
                            <tr id="rfm{{ rfm.rfm_id }}" class="collapse "></tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            {# TODO 分頁 #}

            <div class="col-md-12" aria-label="Page navigation example">
                <br>
              <ul class="pagination">
                <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                <li class="page-item"><a class="page-link" href="?page=1">1</a></li>
                <li class="page-item"><a class="page-link" href="?page=2">2</a></li>
                <li class="page-item"><a class="page-link" href="?page=3">3</a></li>
                <li class="page-item"><a class="page-link" href="#">Next</a></li>
              </ul>
            </div>
        {% else %}
            <div>資料庫中沒有 RFM 資料。</div>
        {% endif %}


    {% endif %}




{% endblock content %}
{% block extra_scripts %}
    <script type="text/javascript">
        $(document).ready(function() {

            $("#search_rfm_value").on("keyup", function() {
                var value = $(this).val().toLowerCase();
                $("#rfm_area tr").filter(function() {
                  $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
                });
            });

            {# 折疊效果，選取一個 RFM 小組後，下方會顯示該 RFM 小組的 Customers #}
            $('tr[data-toggle]').on('click', function() {
                var rfm_id = $(this).attr('data-target').substring(4);
                {#var new_tr = $('#rfm' + rfm_id);#}
                {# 這裡用 length 判斷有沒有此元素 #}
                if ($('#rfm_rows' + rfm_id + ' > tr').length) { {# 有此元素的話，就是折疊效果 #}
                    if ($('#td_rfm' + rfm_id).hasClass('collapse')) {
                        $('#td_rfm' + rfm_id).removeClass('collapse')
                    } else {
                        $('#td_rfm' + rfm_id).addClass('collapse')
                    }
                } else { {# 沒有此元素的話，就需要查詢對應的 customers #}
                    {# 有點 tricky 的寫法，將 js 的 variable 作為 django template 的 URL 的參數 #}
                    var url = "{% url 'mcdonalds:customer' rfm_id='12345' %}".replace(/12345/, rfm_id.toString());
                    $.ajax({
                        type: 'GET',
                        url: url,
                        contentType: 'application/json',
                        success: function(data) {
                            console.log('data', JSON.parse(data['customer_list'])); {# TODO null #}
                            customers = JSON.parse(data['customer_list']);
                            $('#rfm' + rfm_id).after("<td class=\"col-md-12\" colspan=\"2\" id=\"td_rfm" + rfm_id + "\">"+
                                                "<table class=\"table table-bordered\">"+
                                                    "<thead class=\"thead-light\">"+
                                                        "<tr>" +
                                                            "<th>姓名</th>" +
                                                            "<th>性別</th>" +
                                                            "<th>Email</th>" +
                                                        "</tr>"+
                                                    "</thead>"+
                                                    "<tbody id=\"rfm_rows"+ rfm_id +"\">" +
                                                    "</tbody>"+
                                                "</table>"+
                                            "</td>")
                            for (var i = 0; i < customers.length; i++) {
                                var gender = customers[i].fields.gender == 0 ? "女":"男"
                                var email = customers[i].fields.email == null ? "":customers[i].fields.email
                                $('#rfm_rows' + rfm_id).append(
                                                    "<tr>" +
                                                        "<td>"+ customers[i].fields.name +"</td>" +
                                                        "<td>"+ gender +"</td>" +
                                                        "<td>"+ email +"</td>" +
                                                    "</tr>")

                            }

                        },
                        error: function(error) {
                            console.log('error', error)
                        }
                    });
                }

            });


            {#  TODO 處理顧客關係管理 「二元樹」、「存活率」、「RFM」點擊下去的顏色，目前因為有 redirecrt 所以有些問題  #}
{#            $('#customer_rel_tab > .btn').on('click', function() {#}
{#                $('#customer_rel_tab > .btn').removeClass('btn-dark');#}
{#                $(this).addClass(('btn-dark'));#}
{#            });#}


        });
    </script>
{% endblock %}