{% extends "base.html" %}

{% block title %} 行銷Dashboard {% endblock title %}
{% block extra_css %}
    <style>
        .modal{
            max-width: 1200px;
            max-height: 800px;
            width: 60%;
            height: 80%;
        }
        .inner {
          width: 48%;
          height: 48%;
          float: left;
          margin: 1%;
          text-align: center;
          border-width: 1px;
          border-style: solid;
          border-color: #e6e3e3;
          box-shadow:0 0 5px 5px #edebeb;
          border-radius: 5px;
        }
        box {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
        }

        .box select {
          background-color: #ffc94a;
          color: white;
          padding: 5px;
          width: 170px;
          height: 40px;
          border: none;
          font-size: 15px;
          box-shadow: 0 5px 25px rgba(0, 0, 0, 0.2);
          -webkit-appearance: button;
          appearance: button;
          outline: none;
        }

        .box::before {
          content: "\f13a";
          font-family: FontAwesome;
          position: absolute;
          top: 0;
          right: 0;
          width: 20%;
          height: 100%;
          text-align: center;
          font-size: 28px;
          line-height: 45px;
          color: rgba(255, 255, 255, 0.5);
          background-color: rgba(255, 255, 255, 0.1);
          pointer-events: none;
        }

        .box:hover::before {
          color: rgba(255, 255, 255, 0.6);
          background-color: rgba(255, 255, 255, 0.2);
        }

        .box select option {
          padding: 30px;
        }
        
        .btn,
        .btn:focus,
        .btn:hover,
        .btn:active{
            color: white;
        }
    </style>
{% endblock %}
{% block extra_scripts %}
{#    <script type="text/javascript">#}
        {#$(document).ready(function(){#}
            <!-- 前期比較 -->
            $("#ComparisonWithPrevious rect.nsewdrag.drag").click(function (){
                $("#window1").modal({
                    closeClass: 'icon-remove',
                    closeText: '!'
                });
                $("#ComparisonHamburger_select").val("1");
                $("#ComparisonSnack_select").val("");
                $("#ComparisonBeverageNSoup_select").val("");
                $.ajax({
                    url: "{% url 'mcdonalds:marketing_dashboard_windows' %}",
                    data: { "graph": 'ComparisonWithPrevious', "category": 'hamburger', "selectedItem": 1},
                    type:"GET",
                    success: function (response) {
                        $('#window1 .graphArea').html(response.WindowGraph);
                    }, error: function (error) {
                        alert('Error to show graph!');
                        console.log(error);
                    }
                });
            });
            $("#ComparisonHamburger_select").change(function(){
                $("#ComparisonSnack_select").val("");
                $("#ComparisonBeverageNSoup_select").val("");
                var select_op=$('#ComparisonHamburger_select').val();
                $.ajax({
                    url: "{% url 'mcdonalds:marketing_dashboard_windows' %}",
                    data: { "graph": 'ComparisonWithPrevious', "category": 'hamburger', "selectedItem": select_op},
                    type:"GET",
                    success: function (response) {
                        $('#window1 .graphArea').html(response.WindowGraph);
                    }, error: function (error) {
                        alert('Error to show graph!');
                        console.log(error);
                    }
                });
            });
            $("#ComparisonSnack_select").change(function(){
                $("#ComparisonHamburger_select").val("");
                $("#ComparisonBeverageNSoup_select").val("");
                var select_op=$('#ComparisonSnack_select').val();
                $.ajax({
                    url: "{% url 'mcdonalds:marketing_dashboard_windows' %}",
                    data: { "graph": 'ComparisonWithPrevious', "category": 'snack', "selectedItem": select_op},
                    type:"GET",
                    success: function (response) {
                        $('#window1 .graphArea').html(response.WindowGraph);
                    }, error: function (error) {
                        alert('Error to show graph!');
                        console.log(error);
                    }
                });
            });
            $("#ComparisonBeverageNSoup_select").change(function(){
                $("#ComparisonHamburger_select").val("");
                $("#ComparisonSnack_select").val("");
                var select_op=$('#ComparisonBeverageNSoup_select').val();
                $.ajax({
                    url: "{% url 'mcdonalds:marketing_dashboard_windows' %}",
                    data: { "graph": 'ComparisonWithPrevious', "category": 'beverageNsoup', "selectedItem": select_op},
                    type:"GET",
                    success: function (response) {
                        $('#window1 .graphArea').html(response.WindowGraph);
                    }, error: function (error) {
                        alert('Error to show graph!');
                        console.log(error);
                    }
                });
            });
            <!-- 銷售排行 -->
            $("#SalesRanking rect.nsewdrag.drag").click(function (){
                $("#window2").modal({
                    closeClass: 'icon-remove',
                    closeText: '!'
                });
                $("#SalesRankingHamburger").click();
            });

            $("#SalesRankingHamburger").click(function(){
                $.ajax({
                    type: "GET",
                    url: "{% url 'mcdonalds:marketing_dashboard_windows' %}",
                    data: { "graph": 'SalesRanking', "category": 'hamburger' },
                    <!-- dataType: "json", -->
                    success: function (response) {
                        $('#window2 .graphArea').html(response.WindowGraph);
                    }, error: function (error) {
                        alert('Error to show graph!');
                        console.log(error);
                    }
                });
            });
            $("#SalesRankingSnack").click(function(){
                $.ajax({
                    type: "GET",
                    url: "{% url 'mcdonalds:marketing_dashboard_windows' %}",
                    data: { "graph": 'SalesRanking', "category": 'snack' },
                    <!-- dataType: "json", -->
                    success: function (response) {
                        $('#window2 .graphArea').html(response.WindowGraph);
                    }, error: function (error) {
                        alert('Error to show graph!');
                        console.log(error);
                    }
                });
            });
            $("#SalesRankingBeverageNSoup").click(function(){
                $.ajax({
                    type: "GET",
                    url: "{% url 'mcdonalds:marketing_dashboard_windows' %}",
                    data: { "graph": 'SalesRanking', "category": 'beverageNsoup' },
                    <!-- dataType: "json", -->
                    success: function (response) {
                        $('#window2 .graphArea').html(response.WindowGraph);
                    }, error: function (error) {
                        alert('Error to show graph!');
                        console.log(error);
                    }
                });
            });
            <!-- 各區銷售表現 -->
            $("#StorePerformance rect.nsewdrag.drag").click(function (){
                $("#window3").modal({
                    closeClass: 'icon-remove',
                    closeText: '!'
                });
                $("#StorePerformanceNorth").click();
            });

            $("#StorePerformanceNorth").click(function(){
                $.ajax({
                    type: "GET",
                    url: "{% url 'mcdonalds:marketing_dashboard_windows' %}",
                    data: { "graph": 'StorePerformance', "region": 'north' },
                    <!-- dataType: "json", -->
                    success: function (response) {
                        $('#window3 .graphArea').html(response.WindowGraph);
                    }, error: function (error) {
                        alert('Error to show graph!');
                        console.log(error);
                    }
                });
            });
            $("#StorePerformanceCentral").click(function(){
                $.ajax({
                    type: "GET",
                    url: "{% url 'mcdonalds:marketing_dashboard_windows' %}",
                    data: { "graph": 'StorePerformance', "region": 'central' },
                    <!-- dataType: "json", -->
                    success: function (response) {
                        $('#window3 .graphArea').html(response.WindowGraph);
                    }, error: function (error) {
                        alert('Error to show graph!');
                        console.log(error);
                    }
                });
            });
            $("#StorePerformanceSouth").click(function(){
                $.ajax({
                    type: "GET",
                    url: "{% url 'mcdonalds:marketing_dashboard_windows' %}",
                    data: { "graph": 'StorePerformance', "region": 'south' },
                    <!-- dataType: "json", -->
                    success: function (response) {
                        $('#window3 .graphArea').html(response.WindowGraph);
                    }, error: function (error) {
                        alert('Error to show graph!');
                        console.log(error);
                    }
                });
            });
            $("#StorePerformanceEast").click(function(){
                $.ajax({
                    type: "GET",
                    url: "{% url 'mcdonalds:marketing_dashboard_windows' %}",
                    data: { "graph": 'StorePerformance', "region": 'east' },
                    <!-- dataType: "json", -->
                    success: function (response) {
                        $('#window3 .graphArea').html(response.WindowGraph);
                    }, error: function (error) {
                        alert('Error to show graph!');
                        console.log(error);
                    }
                });
            });
            
            <!-- CVR -->
            $("#CVR rect.nsewdrag.drag").click(function (){
                $("#window4").modal({
                    closeClass: 'icon-remove',
                    closeText: '!'
                });
                $.ajax({
                    type: "GET",
                    url: "{% url 'mcdonalds:marketing_dashboard_windows' %}",
                    data: { "graph": 'CVR' },
                    <!-- dataType: "json", -->
                    success: function (response) {
                        $('#window4 .graphArea').html(response.WindowGraph);
                    }, error: function (error) {
                        alert('Error to show graph!');
                        console.log(error);
                    }
                });
            });
       //  {#});#}
{#    </script>#}
{% endblock %}


{% block content %}
    <div class="col-md-12">
    <h4 class="col-md-12">行銷Dashboard</h4>
    <div class="inner" id="ComparisonWithPrevious">
        {% if ComparisonWithPrevious_graph %}
            {% autoescape off %}
            {{ ComparisonWithPrevious_graph|safe }}
            {% endautoescape %}
        {% else %}
            <h5>No graph to show.</h5>
        {% endif %}
    </div>
    <div class="inner" id="SalesRanking">
        {% if SalesRanking_graph %}
            {% autoescape off %}
            {{ SalesRanking_graph|safe }}
            {% endautoescape %}
        {% else %}
            <h5>No graph to show.</h5>
        {% endif %}
    </div>
    <div class="inner" id="StorePerformance">
        {% if StorePerformance_graph %}
            {% autoescape off %}
            {{ StorePerformance_graph|safe }}
            {% endautoescape %}
        {% else %}
            <h5>No graph to show.</h5>
        {% endif %}
    </div>
    <div class="inner" id="CVR">
        {% if cvr_graph %}
            {% autoescape off %}
            {{ cvr_graph|safe }}
            {% endautoescape %}
        {% else %}
            <h5>No graph to show.</h5>
        {% endif %}
    </div>
    
    <div id="window1" class="modal">
        <div class="box">
            <select  id="ComparisonHamburger_select">
                <option value="" selected="selected">漢堡</option>
                <option value="1">大麥克</option>
                <option value="2">雙層牛肉吉事堡</option>
                <option value="3">嫩煎雞腿堡</option>
                <option value="4">麥香雞</option>
                <option value="5">勁辣雞腿堡</option>
                <option value="6">黃金起司豬排堡</option>
                <option value="7">麥香魚</option>
                <option value="8">煙燻雞肉長堡</option>
                <option value="9">薑燒豬肉長堡</option>
                <option value="10">BLT 安格斯黑牛堡</option>
                <option value="11">BLT 辣脆雞腿堡</option>
                <option value="12">BLT 嫩煎雞腿堡</option>
                <option value="13">蕈菇安格斯黑牛堡</option>
                <option value="14">金銀招財薯來堡 (牛)</option>
                <option value="15">金銀招財薯來堡 (雞)</option>
                <option value="16">金銀招財福堡</option>
                <option value="17">法式芥末香雞堡</option>
                <option value="18">漢堡</option>
                <option value="19">吉事漢堡</option>
            </select>
            <select  id="ComparisonSnack_select">
                <option value="" selected="selected">點心</option>
                <option value="1">麥克雞塊</option>
                <option value="2">麥脆雞腿</option>
                <option value="3">麥脆雞翅</option>
                <option value="4">凱薩脆雞沙拉</option>
                <option value="5">義式烤雞沙拉</option>
                <option value="6">快樂兒童餐</option>
                <option value="7">搖搖樂雞腿排</option>
                <option value="8">勁辣香雞翅</option>
                <option value="9">酥嫩雞翅</option>
                <option value="10">蘋果派</option>
                <option value="11">水果袋</option>
                <option value="12">薯餅</option>
                <option value="13">海苔搖搖粉</option>
                <option value="14">蔥辣搖搖粉</option>
                <option value="15">薯條</option>
                <option value="16">四季沙拉</option>
                <option value="17">OREO冰炫風</option>
                <option value="18">蛋捲冰淇淋</option>
                <option value="19">大蛋捲冰淇淋</option>
            </select>
            <select  id="ComparisonBeverageNSoup_select">
                <option value="" selected="selected">飲料/湯品</option>
                <option value="1">玉米湯</option>
                <option value="2">熱紅茶</option>
                <option value="3">熱奶茶</option>
                <option value="4">鮮乳</option>
                <option value="5">可口可樂</option>
                <option value="6">可口可樂 zero</option>
                <option value="7">雪碧</option>
                <option value="8">冰紅茶 (檸檬風味)</option>
                <option value="9">冰紅茶 (無糖)</option>
                <option value="10">冰綠茶 (無糖)</option>
                <option value="11">冰奶茶</option>
                <option value="12">柳橙汁</option>
            </select>
            <div class="graphArea">
            </div>
        </div>
      <!-- <a href="#" rel="modal:close">Close</a> -->
    </div>
    
    <div id="window2" class="modal">
        <button class="btn btn-warning" id="SalesRankingHamburger">漢堡</button>
        <button class="btn btn-warning" id="SalesRankingSnack">點心</button>
        <button class="btn btn-warning" id="SalesRankingBeverageNSoup">飲料/湯品</button>
        <div class="graphArea">
        </div>
      <!-- <a href="#" rel="modal:close">Close</a> -->
    </div>
    
    <div id="window3" class="modal">
        <button class="btn btn-warning" id="StorePerformanceNorth">北區</button>
        <button class="btn btn-warning" id="StorePerformanceCentral">中區</button>
        <button class="btn btn-warning" id="StorePerformanceSouth">南區</button>
        <button class="btn btn-warning" id="StorePerformanceEast">東區</button>
        <div class="graphArea">
        </div>
      <!-- <a href="#" rel="modal:close">Close</a> -->
    </div>
    
    <div id="window4" class="modal">
        <div class="graphArea" style="margin-top: 5%">
        </div>
      <!-- <a href="#" rel="modal:close">Close</a> -->
    </div>

    
{% endblock content %}

