{% extends "base.html" %}

{% block title %} 行銷策略詳細資訊 {% endblock title %}

{% block extra_css %}
    <style type="text/css">
        .hidden {
            display: none;
        }
    </style>
{% endblock %}

{% block content %}
    {#  是否成功新增行銷策略  #}
    <div id="popup-success" class="hidden col-md-10 mx-sm-4  alert alert-success alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>成功!</strong> 指定操作成功提示信息。
    </div>
    <div id="popup-error" class="hidden col-md-10 mx-sm-4  alert alert-danger alert-dismissible fade show">
        <button type="button" class="close" data-dismiss="alert">&times;</button>
        <strong>失敗!</strong> 指定操作成功提示信息。
    </div>


    <div class="col-md-12">
        <h3 class="col-md-12">行銷策略詳細資訊</h3>
        <form id="strategy_form">
            {% csrf_token %}
            <input type="hidden" name="strategy_id" value="{{ strategy.strategy_id|default_if_none:None }}">
            <br>
            <div class="form-group">
                <div class="form-inline col-md-12">
                    <div class="form-group col-md-6">
                        <label>策略名稱</label>
                        <input class="form-control mx-sm-3 col-md-6" type="text" name="strategy_name"
                               value="{{ strategy.strategy_name|default_if_none:"" }}">
                    </div>
                    <div class="form-group col-md-6">
                        <label>策略狀態</label>
                        <select class="form-control mx-sm-3 col-md-6" name="status">
                            <option value="0" {% if strategy and strategy.status == 0 %}
                                    selected="selected" {% endif %} >ENABLED
                            </option>
                            <option value="1" {% if strategy and strategy.status == 1 %}
                                    selected="selected" {% endif %}>DISABLED
                            </option>
                        </select>
                    </div>
                </div>
                <br>
                <div class="form-inline col-md-12">
                    <div class="form-group col-md-6">
                        <label>開始日期</label>
                        <input id="start_date" class="form-control mx-sm-3 col-md-6" type="date" name="start_date"
                               value="{{ strategy.start_date|date:"Y-m-d" }}"/>
                    </div>
                    <div class="form-group col-md-6">
                        <label>結束日期</label>
                        <input id="end_date" class="form-control mx-sm-3 col-md-6" type="date" name="end_date" min="{% now "Y-m-d" %}"
                               value="{{ strategy.end_date|date:"Y-m-d" }}"/>
                    </div>
                </div>
                <br>
                <div class="form-group col-md-12 mx-sm-3">
                    <label>簡介</label>
                    <textarea class="form-control col-md-10" name="description"
                              rows="3">{{ strategy.description|default_if_none:"暫無簡介" }}</textarea>
                </div>
            </div>
        </form>
        <br>
        <hr>
        <br>
        <h3 class="col-md-12">行銷策略與商品的關係</h3><br>
        <button id="add_product_btn" type="button" class="mx-sm-3 col-md-1 btn btn-outline-dark" style="background-color: #FFC800;">新增商品</button>
        <br><br>
        <div id="strategy_product_area">
        </div>

        <br>
        <input id="store_strategy" class="mx-sm-3 col-md-2 btn btn-info" value="確認"/>
        {% if strategy.strategy_id %}
            <a href="{% url 'mcdonalds:delete_strategy' strategy_id=strategy.strategy_id %}" class="mx-sm-3 col-md-2 btn btn-danger">刪除策略</a>
        {% else %}
            <a href="{% url 'mcdonalds:strategies_list' %}" class="mx-sm-3 col-md-2 btn btn-danger">取消新增</a>
        {% endif %}
    </div>

{% endblock content %}


{% block extra_scripts %}
    <script type="text/javascript">
        $(document).ready(function () {

            {# 顯示是否成功新增行銷策略 #}
            $('#popup').removeClass("hidden")
            $(".close").on('click', function () {
                $('#popup').addClass("hidden")
            });

            $('#start_date').on('change', function() {
                var start_date = $('#start_date').val()
                console.log('start_date', start_date)
                $('#end_date').prop('min', start_date)
            });

            {% if data %}
                {% for strt_prod_rel, product in data %}
                    var strategy_product_fields = '<div class="form-row col-md-11 strategy_product_fields">' +
                        '                        <div class="form-group col">' +
                        '                          <label>商品類別</label>' +
                        '                          <select name="prod_category" class="form-control">' +
                        '                              <option selected>--</option>' +
                        '                              <option value="1" {% if product.category == "漢堡" %}selected{% endif %}>漢堡</option>' +
                        '                              <option value="2" {% if product.category == "點心" %}selected{% endif %}>點心</option>' +
                        '                              <option value="3" {% if product.category == "飲料/湯品" %}selected{% endif %}>飲料/湯品</option>' +
                        '                          </select>' +
                        '                        </div>' +
                        '                        <div class="form-group col">' +
                        '                            <label> 商品名稱</label>' +
                        '                            <select name="prod_id" class="form-control">' +
                        '                                <option selected value="{{ product.product_id }}">{{ product.product_name }}</option>' +
                        '                            </select>' +
                        '                        </div>' +
                        '                        <div class="form-group col">' +
                        '                            <label>預計數量</label>' +
                        '                            <input type="number" min="1" value="{{ strt_prod_rel.numbers }}" name="prod_num" class="form-control" placeholder="0">' +
                        '                        </div>' +
                        '                        <div class="form-group col align-self-end">' +
                        '                            <button spr_id="{{ strt_prod_rel.spr_id }}" url="http://{{ request.get_host }}{% url 'mcdonalds:delete_spr' spr_id=strt_prod_rel.spr_id %}" class="del_product_btn form-control btn btn-secondary">刪除商品</a>' +
                        '                        </div>' +
                        '                    </div>';
                    if ($('.strategy_product_fields').length) {
                        $('.strategy_product_fields').last().after(strategy_product_fields);
                    } else {
                        $('#strategy_product_area').empty()
                        $('#strategy_product_area').append(strategy_product_fields);
                    }
                {% endfor %}
            {% endif %}





            {# 新增一項與行銷策略相關的商品 #}
            $('#add_product_btn').on('click', function () {
                var strategy_product_fields = '<div class="form-row col-md-11 strategy_product_fields">' +
                    '                        <div class="form-group col">' +
                    '                          <label>商品類別</label>' +
                    '                          <select name="prod_category" class="form-control">' +
                    '                              <option selected>--</option>' +
                    '                              <option value="1">漢堡</option>' +
                    '                              <option value="2">點心</option>' +
                    '                              <option value="3">飲料/湯品</option>' +
                    '                          </select>' +
                    '                        </div>' +
                    '                        <div class="form-group col">' +
                    '                            <label> 商品名稱</label>' +
                    '                            <select name="prod_id" class="form-control">' +
                    '                                <option selected>--</option>' +
                    '                            </select>' +
                    '                        </div>' +
                    '                        <div class="form-group col">' +
                    '                            <label>預計數量</label>' +
                    '                            <input type="number" min="1" value="1" name="prod_num" class="form-control" placeholder="0">' +
                    '                        </div>' +
                    '                        <div class="form-group col align-self-end">' +
                    '                            <button class="del_product_btn form-control btn btn-secondary" style="background-color: #FFC800;">刪除商品</a>' +
                    '                        </div>' +
                    '                    </div>';

                if ($('.strategy_product_fields').length) {
                    $('.strategy_product_fields').last().after(strategy_product_fields);
                } else {
                    $('#strategy_product_area').empty()
                    $('#strategy_product_area').append(strategy_product_fields);
                }
            });


            {# ⚠️ 注意寫法，這裡寫成 $('.del_product_btn').on('click', function() {...}) 不知道為什麼第二個開始的刪除button會沒有反應 #}
            {# 刪除一項與行銷策略相關的商品 #}
            $(document).on('click', '.del_product_btn', function () {
                console.log('$(this).attr(\'url\')', $(this).attr('url'))
                if ($(this).attr('url')){
                    $.get($(this).attr('url'), function(data) {
                        if (data == 'SUCCESS') {
                            console.log('刪除商品')

                        } else {
                            $('html, body').animate({scrollTop : 0},400);
                            alert('未成功刪除商品')
                        }

                    });
                }
                $(this).closest('.strategy_product_fields').remove()
            });

            {# 依據商品分類顯示可選的商品名稱 #}
            $(document).on('change', "select[name='prod_category']", function () {
                var product_category_num = parseInt($(this).val())
                {# 判斷是不是現有的商品分類。1：漢堡，2：點心，3：飲料/湯品 #}
                var prod_name_list = $(this).parent().next().children("select[name='prod_id']");
                if (product_category_num === 1 || product_category_num === 2 || product_category_num === 3) {
                    console.log('prod_name_list', prod_name_list)
                    console.log('prod name', $(this).parent().next().children("select[name='prod_id']").val());
                    $.ajax({
                        type: 'GET',
                        url: '{% url 'mcdonalds:search_prod_by_category' prod_category_num='12345' %}'.replace('12345', product_category_num),
                        dataType: 'json',
                        success: function (data) {
                            {# 取得該商品類別下的所有商品，顯示在 select tag 中 #}
                            var product_list = JSON.parse(data['product_list']);
                            prod_name_list.empty();
                            for (index in product_list) {
                                prod_name_list.append("<option value='" + product_list[index].pk + "'>" + product_list[index].fields.product_name + "</option>")
                            }

                        },
                        error: function (error) {
                            console.log('error', error)
                        }
                    })
                } else {
                    {# 沒有選擇商品類別時，商品名稱欄位只會有 "--" #}
                    prod_name_list.empty();
                    prod_name_list.append("<option>--</option>")

                }
            })

            $('#store_strategy').on('click', function (event) {
                {# 防止點擊按鈕後馬上提交，需進行以下處理再提交至後端 #}
                event.preventDefault();
                all_product_fields = $('#strategy_product_area .strategy_product_fields');
                console.log('all_product_fields', all_product_fields)
                {# 將關聯的所有商品包裝成 JSON 格式 [{},{},{},...]，送至後端處理，一筆筆塞入 StrategyProductRel 資料表 #}
                var product_list = all_product_fields.map(function () {
                    return {
                        spr_id: $(this).find('button[spr_id]').attr('spr_id'),
                        prod_category: $(this).find('select[name="prod_category"]').val(),
                        prod_id: parseInt($(this).find('select[name="prod_id"]').val()),
                        prod_num: parseInt($(this).find('input[name="prod_num"]').val())
                    };
                }).get();
                console.log('product_list >>> ', product_list);

                var data = {
                    'strategy_id': $('#strategy_form input[name="strategy_id"]').val(), // strategy_id 有可能沒有
                    'strategy_name': $('#strategy_form input[name="strategy_name"]').val().trim(),
                    'status': parseInt($('#strategy_form select[name="status"]').val()),
                    'start_date': $('#strategy_form input[name="start_date"]').val(),
                    'end_date': $('#strategy_form input[name="end_date"]').val(),
                    'description': $('#strategy_form textarea[name="description"]').text(),
                    'product_list': product_list
                }
                console.log('data', data)

                $.post('{% url 'mcdonalds:store_strategy' %}', JSON.stringify(data), function (d) {
                    console.log('d', d)
                    if (d == 'True') {
                        $('#popup-error').addClass('hidden')
                        $('#popup-success').removeClass('hidden')
                    } else {
                        $('#popup-error').removeClass('hidden')
                        $('#popup-success').addClass('hidden')
                    }
                    $('html, body').animate({scrollTop : 0},1000);
                });


            })

        })
    </script>
{% endblock %}

