{% extends "base.html" %}

{% block title %}原物料庫存{% endblock title %}

{% block content %}


<div class="col-md-12">
    <br>
    <br><br>
 
    <!-- <input type="button" value="原物料訂購預估" onclick="location.href='raw_materials_predict'">
    <input type="button" value="原物料實際訂購單" onclick="location.href='要前往的網頁連結'">
    <h4>原物料訂購預估</h4> -->
    <table class="table table-bordered table-striped">
        <thead class="thead-dark">
            <tr>
                <th>原物料名稱</th>
                <th>單位成本</th>
                <th>庫存</th>
                <th>安全存量</th>
                <th>供應商</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for raw_material in raw_materials %}
                <tr>
                    <td>{{ raw_material.material_id }}</td>
                    <td>{{ raw_material.material_name }}</td>
                    <td>{{ raw_material.amount }}</td>
                    <td>{{ raw_material.on_hand_inventory }}</td>
                    <td>{{ raw_material.security_numbers }}</td>
                    <td>{{ raw_material.supplier_name }}</td>
                    
                </tr>
            {% endfor %}
        </tbody>
    </table>


</div>

{% endblock content %}
