{% extends "base.html" %}

{% block title %}原物料庫存{% endblock title %}

{% block content %}


<div class="col-md-12">
 
    <!-- <input type="button" value="原物料訂購預估" onclick="location.href='raw_materials_predict'">
    <input type="button" value="原物料實際訂購單" onclick="location.href='要前往的網頁連結'">
    <h4>原物料訂購預估</h4> -->
    <h4>原物料庫存</h4>
    <br>
    <div class="col-md-2" style='float:right;'>
        <a class="btn btn-info" href="{% url 'mcdonalds:add_order' %}" role="button" >新增原物料訂單</a>
    </div>
    <br>
    <br>
    <table class="table table-bordered table-striped" data-toggle="table">
        <thead class="thead-dark">
            <tr>
                <th data-sortable="true">原物料ID</th>
                <th>原物料名稱</th>
                <th data-sortable="true">單位成本</th>
                <th data-sortable="true">庫存</th>
                <th data-sortable="true">安全存量</th>
                <th data-sortable="true">經濟訂購量</th>
                <th data-sortable="true">再訂購點</th>
                <th>供應商</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for raw_material in raw_materials %}
                <tr>
                    <td>{{ raw_material.material_id }}</td>
                    <td>{{ raw_material.material_name }}</td>
                    <td>{{ raw_material.amount }}</td>
                    <td>{{ raw_material.on_hand_inventory }}</td>
                    <td>{{ raw_material.security_numbers }}</td>
                    <td>{{ raw_material.quantity }}</td>
                    <td>{{ raw_material.reorder_point }}</td>
                    <td>{{ raw_material.supplier_name }}</td>
                    <td>
                        <a href="{% url 'mcdonalds:get_edit_page' material_id=raw_material.material_id %}" class="btn btn-info">修改</a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>


</div>

{% endblock content %}
