{% load humanize %}{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>

        <!-- navigation things-->
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
        <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
        <!-- FontAwesome -->
        <script src="https://kit.fontawesome.com/5dc39887b7.js" crossorigin="anonymous"></script>
        <!--tree things -->
{#        <link href="test.css" rel="stylesheet">#}

{#        <script type="text/javascript" src="/static/js/jquery.js"></script>#}
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
    <script type="text/css">
        body {
            min-height: 100vh;
        }
        .adj-row {
            border-bottom-style: dashed;
        }
    </script>
    <!--start of navbar-->
    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">OurLogo</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'import' comp_id=comp_id rpt_id=rpt_id acc_id=acc_id %}" tabindex="-1" aria-disabled="true"><strong>匯入</strong></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{% url 'check_page' comp_id=comp_id rpt_id=rpt_id acc_id=acc_id %}"  tabindex="-1" aria-disabled="true"><strong>檢查</strong></a>
{#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                        <a class="dropdown-item" href="#">定期存款</a>#}
{#                        <a class="dropdown-item" href="#">銀行存款</a>#}
{#                    </div>#}
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'adjust_acc' comp_id=comp_id rpt_id=rpt_id acc_id=acc_id %}" id="navbarDropdown" role="button"
                       data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">調整</a>
{#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                        <a class="dropdown-item" href="#">定期存款調整科目</a>#}
{#                        <a class="dropdown-item" href="#">銀行存款調整外幣評價損益</a>#}
{#                        <a class="dropdown-item" href="#">調整表</a>#}
{#                        <a class="dropdown-item" href="#">附註格式</a>#}
{#                    </div>#}
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">合併勾稽</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'disclosure_page' comp_id=comp_id rpt_id=rpt_id acc_id=acc_id %}" tabindex="-1" aria-disabled="true">附註格式</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="other_nav_buttons">
                <i class="fas fa-cog"></i>
                <i class="fas fa-user"></i>
            </div>
        </div>
    </nav>
</head>
<body>
    <div class="container-fluid">
    <!-- start tree -->
    <div class="row">
    <div class="col-md-2 pt-5" >
        <div id="tree">

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        <script src="{% static 'js/bstreeview.js' %}">
    </script>
    <script>
        $(function () {

            var json = '[' +
                '{' +
                '"text": "資產",' +
                '"icon": "fa fa-inbox",' +
                '"nodes": [' +



                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}, ' +

                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}' +
                ']' +
                '},' +




                '{' +
                '"text": "負債",' +
                '"icon": "fa fa-inbox",' +
                '"nodes": [' +



                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}, ' +

                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}' +
                ']' +
                '},' +

                '{' +
                '"text": "權益",' +
                '"icon": "fa fa-inbox",' +
                '"nodes": [' +



                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}, ' +

                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}' +
                ']' +
                '},' +

                '{' +
                '"text": "損益",' +
                '"icon": "fa fa-inbox",' +
                '"nodes": [' +



                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}, ' +

                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}' +
                ']' +
                '},' +

                '{' +
                '"text": "其他",' +
                '"icon": "fa fa-inbox",' +
                '"nodes": [' +



                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}, ' +

                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}' +
                ']' +
                '}' +
                ']';

            $('#tree').bstreeview({ data: json });

        });
    </script>
    <!-- endof tree-->
        {#  調整表  #}
        {#    調整分錄總表    #}
        
        <div class="col-10">
            <div id="content_layout" class="col-12">
                <div id=cashAdjustLayout>
                    <div class="row">
                        <div id="cashAdjustBtnGroup" class="col-6" aria-label="Basic example">
                            <button id="AdjustDepositAccount" type="button" class="btn btn-secondary" value="deposit_account">定期存款調整科目</button>
                            <button id="AdjustCashInBank" type="button" class="btn btn-secondary" value="cash_in_banks">銀行存款調整外幣評價損益</button>
                            <button id="Adjust" type="button" class="btn btn-secondary">調整表</button>
                        </div>
                        <!-- <div class="col-10"> -->
                            <!-- <div id="editBtnGroup" class="btn-group col-2 float-right" role="group" -->
                                 <!-- aria-label="Basic example"> -->
                                <!-- <button id="Edit" type="button" class="btn btn-secondary">編輯</button> -->
                                <!-- <button id="save" type="button" class="btn btn-secondary" disabled>確定</button> -->
                            <!-- </div> -->
                        <!-- </div> -->
                    </div>
                    <br>
                    <div id="tableforAdjustDepositAccount">
                        <div>
                            <!-- <div> -->
                                <!-- <div class="float-right"> -->
                                    <!-- <label for="totalforCheckDepositAccount">合計(NTD):</label> -->
                                    <!-- <input id="totalforCheckDepositAccount" type="text" placeholder="{{ depositSummary }}" readonly/> -->
                                <!-- </div> -->
                            <!-- </div> -->
                            <table class="table-responsive" id="deposit_account_table">
                                <thead>
                                    <tr class="table-active">
                                        <th style="padding:8px;">銀行別</th>
                                        <th style="padding:8px;">帳號</th>
                                        <th style="padding:8px;">幣別</th>
                                        <th style="padding:8px;">外幣金額</th>
                                        <th style="padding:8px;">台幣金額</th>
                                        <th style="padding:8px;">質押</th>
                                        <th style="padding:8px;">開始</th>
                                        <th style="padding:8px;">結束</th>
                                    </tr>
                                </thead>
                                <tbody>
                                {% for row in depositData %}
                                    <tr class="input_row">
                                        {% csrf_token %}
                                        <input type="hidden" name="id" value="{{ row.dep_acc_id }}"/>
                                        <td><input type="text" name="bank_name" value="{{ row.bank_name }}" disabled/></td>
                                        <td><input type="text" name="bank_account_number"
                                                   value="{{ row.bank_account_number }}" disabled/></td>
                                        <td><input type="text" name="currency" value="{{ row.currency }}" disabled/></td>
                                        <td><input type="text" name="foreign_currency_amount"
                                                   value="{{ row.foreign_currency_amount|default_if_none:"--" }}" disabled/></td>
                                        <td><input type="number" name="ntd_amount" value="{{ row.ntd_amount }}" disabled/>
                                        </td>
                                        <td><input type="number" max="1" min="0" name="plege" value="{{ row.plege }}" disabled/></td>
                                        <td><input type="date" name="start_date" value="{{ row.start_date|date:'Y-m-d' }}" disabled/>
                                        </td>
                                        <td><input type="date" name="end_date" value="{{ row.end_date|date:'Y-m-d' }}" disabled/></td>
                                    </tr>
                                {% endfor %}
                                </tbody>
                            </table>
                            <div>
                            {% if depositTotalEntryAmountList|length > 0 %}
                            <h5>調整總數</h5>
                            {% endif %}
                                <table class="w-auto" id="total_amount_table">
                                {% for totalAmount in depositTotalEntryAmountList %}
                                <tr class="input_row">
                                    <td>調整金額_{{ totalAmount.0 }}</td>
                                    <td>&nbsp</td>
                                    <td>{{ totalAmount.1|floatformat:0|intcomma:False }}</td>
                                </tr>
                                {% endfor %}
                                </table>
                            </div>
                            <br>
                            <div>
                            {% if depositEntryList|length > 0 %}
                            <h5>調整分錄</h5>
                            {% endif %}
                                    <table class="w-auto" id="entries_table">
                                            {% for entries in depositEntryList %}
                                                {% for entry in entries %}
                                                    {% if entry.credit_debit == 0 %}
                                                    <tr class="input_row">
                                                        <td>{{ entry.pre__acc__acc_name }}</td>
                                                        <td></td>
                                                        <td>{{ entry.amount|floatformat:0|intcomma:False }}</td>
                                                        <td></td>
                                                    </tr>
                                                    {% else %}
                                                    <tr class="input_row">
                                                        <td></td>
                                                        <td>{{ entry.pre__acc__acc_name }}</td>
                                                        <td></td>
                                                        <td>{{ entry.amount|floatformat:0|intcomma:False }}</td>
                                                    </tr>
                                                    {% endif %}
                                                {% endfor %}
                                                <tr><td>&nbsp</td></tr>
                                            {% endfor %}
                                    </table>
                            </div>
                        </div>
                    </div>
                    <div id="tableforAdjustCashInBank">
                        <!-- <div> -->
                            <!-- <div class="float-right"> -->
                                <!-- <label for="totalforCheckCashInBank">合計(NTD):</label> -->
                                <!-- <input id="totalforCheckCashInBanks" type="text" placeholder="{{ cibSummary }}" readonly/> -->
                            <!-- </div> -->
                        <!-- </div> -->
                        <table class="table-responsive" id="cash_in_bank_table">
                            <tr class="table-active">
                                <th>銀行別</th>
                                <th>帳號</th>
                                <!--<th>類型</th>-->
                                <th>幣別</th>
                                <th>外幣金額</th>
                                <th>台幣金額</th>
                                <th>匯率</th>
                                <th>核算金額</th>
                                <th>差異</th>
                            </tr>

                            {% for cibData, rate, calculatedAmount, difference in  cibData %}
                            <!-- , rate, calAmt, diff in cibData, rateList, calculatedAmount, difference %} -->
                                <tr class="input_row">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ cibData.cash_in_banks_id }}" disabled>
                                    <td><input type="text" name="bank_name" value="{{ cibData.bank_name }}" disabled/></td>
                                    <td><input type="text" name="bank_account_number" value="{{ cibData.bank_account_number }}" disabled/></td>
                                    <td><input type="text" name="currency" value="{{ cibData.currency }}" disabled/></td>
                                    <td><input type="text" name="foreign_currency_amount"
                                               value="{{ cibData.foreign_currency_amount|default_if_none:"--" }}" disabled/></td>
                                    <td><input type="number" name="ntd_amount" value="{{ cibData.ntd_amount }}" disabled/></td>
                                    <td><input type="text" name="rate" value="{{ rate|floatformat:2 }}" disabled/></td>
                                    <td><input type="text" name="calculatedAmount" value="{{ calculatedAmount|floatformat:2 }}" disabled/></td>
                                    <td><input type="text" name="difference" value="{{ difference|floatformat:0 }}" disabled/></td>
                                </tr>
                            {% endfor %}

                            {% for depositData, rate, calculatedAmount, difference in  depositDataInCIB %}
                            <!-- , rate, calAmt, diff in cibData, rateList, calculatedAmount, difference %} -->
                                <tr class="input_row">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ depositData.dep_acc_id }}" disabled>
                                    <td><input type="text" name="bank_name" value="{{ depositData.bank_name }}" disabled/></td>
                                    <td><input type="text" name="bank_account_number" value="{{ depositData.bank_account_number }}" disabled/></td>
                                    <td><input type="text" name="currency" value="{{ depositData.currency }}" disabled/></td>
                                    <td><input type="text" name="foreign_currency_amount"
                                               value="{{ depositData.foreign_currency_amount|default_if_none:"--" }}" disabled/></td>
                                    <td><input type="number" name="ntd_amount" value="{{ depositData.ntd_amount }}" disabled/></td>
                                    <td><input type="text" name="rate" value="{{ rate|floatformat:2 }}" disabled/></td>
                                    <td><input type="text" name="calculatedAmount" value="{{ calculatedAmount|floatformat:2 }}" disabled/></td>
                                    <td><input type="text" name="difference" value="{{ difference|floatformat:0 }}" disabled/></td>
                                </tr>
                            {% endfor %}
                        </table>
                        <div>
                        {% if cibTotalEntryAmountList|length > 0 %}
                        <h5>調整總數</h5>
                        {% endif %}
                            <table class="w-auto" id="total_amount_table">
                            {% for totalAmount in cibTotalEntryAmountList %}
                            <tr class="input_row">
                                <td>差異_{{ totalAmount.0 }}</td>
                                <td>&nbsp</td>
                                <td>{{ totalAmount.1|floatformat:0|intcomma:False }}</td>
                            </tr>
                            {% endfor %}
                            </table>
                        </div>
                        <br>
                        <div>
                        {% if cibEntryList|length > 0 %}
                        <h5>調整分錄</h5>
                        {% endif %}
                                <table class="w-auto" id="entries_table">
                                        {% for entries in cibEntryList %}
                                            {% for entry in entries %}
                                                {% if entry.credit_debit == 0 %}
                                                <tr class="input_row">
                                                    <td>{{ entry.pre__acc__acc_name }}</td>
                                                    <td></td>
                                                    <td>{{ entry.amount|floatformat:0|intcomma:False }}</td>
                                                    <td></td>
                                                </tr>
                                                {% else %}
                                                <tr class="input_row">
                                                    <td></td>
                                                    <td>{{ entry.pre__acc__acc_name }}</td>
                                                    <td></td>
                                                    <td>{{ entry.amount|floatformat:0|intcomma:False}}</td>
                                                </tr>
                                                {% endif %}
                                            {% endfor %}
                                            <tr><td>&nbsp</td></tr>
                                        {% endfor %}
                                </table>
                        </div>
                    </div>
                </div>
            </div>
   
            <div id="total_adj_entries" class="row justify-content-center">
                <h5 class="col-sm-12 offset-sm-2">調整分錄總表</h5>
                <div class="col-sm-10">
                <div class="row">
                    <div class="col-sm-2">編號</div>
                    <div class="col-sm-3">說明</div>
                    <div class="col-sm-2">科目（借）</div>
                    <div class="col-sm-2">科目（貸）</div>
                    <div class="col-sm-3">金額（NTD）</div>
                </div>
                {% if adj_entries %}
                    {% with temp_num=0 %}
                    {% for entries_pair in adj_entries %}
                        <div class="adj-row row" style="border-bottom-style: dashed; border-bottom-color: darkgray;">
                        <div class="col-sm-2">{{ forloop.counter }}</div>
                        <div class="col-sm-3">{{ entries_pair.debit.0.entry_name|default:'這是說明' }}</div>
                        <div class="col-sm-2">
                            {% for credit_adj_entry in entries_pair.credit %}
                                <div class="row"><div class="col-sm-12">{{ credit_adj_entry.pre__acc__acc_name }}</div></div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-2">
                            {% for credit_adj_entry in entries_pair.credit %}
                                <div class="row"><div class="col-sm-12"><p></p></div></div>
                            {% endfor %}
                            {% for debit_adj_entry in entries_pair.debit %}
                                <div class="row"><div class="col-sm-12">{{ debit_adj_entry.pre__acc__acc_name }}</div></div>
                            {% endfor %}
                        </div>
                        <div class="col-sm-3">

                            {% for credit_adj_entry in entries_pair.credit %}
                                <div class="col-sm-12">{{ credit_adj_entry.amount|floatformat:0|intcomma:False }}</div>
                            {% endfor %}
                            {% for debit_adj_entry in entries_pair.debit %}
                                <div class="col-sm-9 offset-sm-3">{{ debit_adj_entry.amount|floatformat:0|intcomma:False }}</div>
                            {% endfor %}
                        </div>
                    </div>
                    {% endfor %}
                    {% endwith %}
                {% endif %}
                </div>

                {#    明細資訊_調整表    #}
                <div id="details_adjust" class="col-sm-10" style="margin-top: 3em;">
                    <h5 class="col-sm-12">明細資訊 調整表</h5>
                    <div class="col-sm-12">
                    <div class="row table_title">
                        <div class="col-sm"></div>
                        <div class="col-sm">帳列數</div>
                        <div class="col-sm">調整</div>
                        <div class="col-sm">編表數</div>
                    </div>
                    {% for preamt in preamts %}
                        {% if preamt.book_amt != 0 or preamt.adj_amt != 0 %}
                        <div class="row adj-row" style="border-bottom-style: dashed; border-bottom-color: darkgray;">
                            <div class="col-sm">{{ preamt.acc__acc_name }}</div>
                            <div class="col-sm">{{ preamt.book_amt|floatformat:0|intcomma:False }}</div>
                            {% if preamt.adj_amt == 0 %}
                                <div class="col-sm">--</div>
                            {% else %}
                                {% if preamt.adj_amt < 0 %}
                                     <div class="col-sm">({{ preamt.adj_amt|floatformat:0|intcomma:False|slice:'1:' }})</div>
                                {% else %}
                                    <div class="col-sm">{{ preamt.adj_amt|floatformat:0|intcomma:False }}</div>
                                {% endif %}
                            {% endif %}
                            <div class="col-sm">{{ preamt.pre_amt|floatformat:0|intcomma:False }}</div>
                        </div>
                        {% endif %}
                    {% endfor %}
                    </div>
                </div>
            </div>
        </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
    <script type="text/javascript">
        var anotherVariable = jQuery.noConflict()
        $(document).ready(function() {
            $("#tableforAdjustCashInBank").hide();
            $("#tableforAdjustDepositAccount").show();
            $("#total_adj_entries").hide();
            $("button").on('click', function (e) {
                if (e.target.id == "AdjustCashInBank") {
                    <!--點了銀行存款，將銀行存款按鈕顯示深色-->
                    $("#AdjustDepositAccount").removeClass("btn-dark");
                    $("#Adjust").removeClass("btn-dark");
                    $(this).addClass("btn btn-dark");
                    <!--點了銀行存款，銀行存款div，隱藏定期存款-->
                    $("#tableforAdjustDepositAccount").hide();
                    $("#tableforAdjustCashInBank").show();
                    $("#total_adj_entries").hide();
                } else if (e.target.id == "AdjustDepositAccount") {
                    $("#AdjustCashInBank").removeClass("btn-dark");
                    $("#Adjust").removeClass("btn-dark");
                    $(this).addClass("btn btn-dark");
                    $("#tableforAdjustDepositAccount").show();
                    $("#tableforAdjustCashInBank").hide();
                    $("#total_adj_entries").hide();
                } else if (e.target.id = "Adjust"){
                    $("#AdjustDepositAccount").removeClass("btn-dark");
                    $("#AdjustCashInBank").removeClass("btn-dark");
                    $(this).addClass("btn btn-dark");
                    $("#tableforAdjustDepositAccount").hide();
                    $("#tableforAdjustCashInBank").hide();
                    $("#total_adj_entries").show();
                }
            });
        });

    </script>
</body>
</html>