{% load static %}
<!DOCTYPE html>
<html>
<head>
    <!-- navigation things-->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css"
          integrity="sha384-TX8t27EcRE3e/ihU7zmQxVncDAy5uIKz4rEkgIXeMed4M0jlfIDPvg6uqKI2xXr2" crossorigin="anonymous">
    <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <!-- FontAwesome -->
    <script src="https://kit.fontawesome.com/5dc39887b7.js" crossorigin="anonymous"></script>
    <!--tree things -->


    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" rel="stylesheet">
    <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <link href="{% static 'css/bstreeview.css' %}" rel="stylesheet">


    <!--start of navbar-->

    <nav class="navbar navbar-expand-lg navbar-light bg-light">
        <a class="navbar-brand" href="#">OurLogo</a>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'import' comp_id=comp_id rpt_id=rpt_id acc_id=acc_id %}" tabindex="-1" aria-disabled="true"><strong>匯入</strong></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link" href="{% url 'check_page' comp_id=comp_id rpt_id=rpt_id acc_id=acc_id %}"  tabindex="-1" aria-disabled="true"><strong>檢查</strong></a>
{#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                        <a class="dropdown-item" href="#">定期存款</a>#}
{#                        <a class="dropdown-item" href="#">銀行存款</a>#}
{#                    </div>#}
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="{% url 'adjust_acc' comp_id=comp_id rpt_id=rpt_id acc_id=acc_id %}" id="navbarDropdown" role="button"
                       aria-haspopup="true" aria-expanded="false">調整</a>
{#                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#                        <a class="dropdown-item" href="#">定期存款調整科目</a>#}
{#                        <a class="dropdown-item" href="#">銀行存款調整外幣評價損益</a>#}
{#                        <a class="dropdown-item" href="#">調整表</a>#}
{#                        <a class="dropdown-item" href="#">附註格式</a>#}
{#                    </div>#}
                </li>
                <li class="nav-item">
                    <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">合併勾稽</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="{% url 'disclosure_page' comp_id=comp_id rpt_id=rpt_id acc_id=acc_id %}" tabindex="-1" aria-disabled="true">附註格式</a>
                </li>
            </ul>
            <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" value="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
            </form>
            <div class="other_nav_buttons">
                <i class="fas fa-cog"></i>
                <i class="fas fa-user"></i>
            </div>
        </div>
    </nav>
    <!--end of navbar-->
</head>
<body>
  
<div class="container-fluid">


    <div class="row">
          <!-- start tree -->
    
    <div class="col-md-2 pt-5">
        <div id="tree">

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        <script src="{% static 'js/bstreeview.js' %}">
    </script>
    <script>
        $(function () {

            var json = '[' +
                '{' +
                '"text": "資產",' +
                '"icon": "fa fa-inbox",' +
                '"nodes": [' +

                

                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}, ' +

                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}' +
                ']' +
                '},' +




                '{' +
                '"text": "負債",' +
                '"icon": "fa fa-inbox",' +
                '"nodes": [' +

                

                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}, ' +

                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}' +
                ']' +
                '},' +

                '{' +
                '"text": "權益",' +
                '"icon": "fa fa-inbox",' +
                '"nodes": [' +

                

                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}, ' +

                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}' +
                ']' +
                '},' +

                '{' +
                '"text": "損益",' +
                '"icon": "fa fa-inbox",' +
                '"nodes": [' +

                

                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}, ' +

                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}' +
                ']' +
                '},' +

                '{' +
                '"text": "其他",' +
                '"icon": "fa fa-inbox",' +
                '"nodes": [' +

                

                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}, ' +

                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}' +
                ']' +
                '}' +
                ']';

            $('#tree').bstreeview({ data: json });

        });
    </script>
    <!-- endof tree-->

        <!--start of checking page-->
        <div id="content_layout" class="col-10">
            <div id=cashCheckLayout>
                <div class="row">
                    <div id="cashCheckBtnGroup" class="col-6" aria-label="Basic example">
                        <button id="CheckDepositAccount" type="button" class="btn btn-secondary" value="deposit_account">定期存款</button>
                        <button id="CheckCashInBank" type="button" class="btn btn-secondary" value="cash_in_banks">銀行存款</button>
                    </div>
                    <div class="col-6">
                        <div id="editBtnGroup" class="btn-group col-4 float-right" role="group"
                             aria-label="Basic example">
                            <button id="Edit" type="button" class="btn btn-secondary">編輯</button>
                            <button id="save" type="button" class="btn btn-secondary" disabled>確定</button>
                        </div>
                    </div>
                </div>
                <br>
                <div id="tableforCheckDepositAccount" class="table-responsive">
                    <div>
                        <div>
                            <div class="float-right">
                                <label for="totalforCheckDepositAccount">合計(NTD):</label>
                                <input id="totalforCheckDepositAccount" type="text" value="{{ depositSummary }}" readonly/>
                            </div>
                        </div>
                        <table id="deposit_account_table">
                            <thead>
                                <tr class="table-active">
                                    <th style="padding:8px;">銀行別</th>
                                    <th style="padding:8px;">帳號</th>
                                    <th style="padding:8px;">幣別</th>
                                    <th style="padding:8px;">外幣金額</th>
                                    <th style="padding:8px;">台幣金額</th>
                                    <th style="padding:8px;">質押</th>
                                    <th style="padding:8px;">開始</th>
                                    <th style="padding:8px;">結束</th>
                                </tr>
                            </thead>
                            <tbody>
                            {% for row in depositData %}
                                <tr class="input_row dp_acc">
                                    {% csrf_token %}
                                    <input type="hidden" name="id" value="{{ row.dep_acc_id }}" required/>
                                    <td><input type="text" name="bank_name" value="{{ row.bank_name }}" disabled required/></td>
                                    <td><input type="text" name="bank_account_number"
                                               value="{{ row.bank_account_number }}" disabled required/></td>
                                    <td><input type="text" name="currency" value="{{ row.currency }}" disabled required/></td>
                                    <td><input type="text" name="foreign_currency_amount"
                                               value="{{ row.foreign_currency_amount|default_if_none:"--" }}" disabled/></td>
                                    <td><input type="number" name="ntd_amount" value="{{ row.ntd_amount }}" disabled required/>
                                    </td>
                                    <td><input type="number" max="1" min="0" name="plege" value="{{ row.plege }}" disabled required/></td>
                                    <td><input type="date" name="start_date" value="{{ row.start_date|date:"Y-m-d" }}" disabled required/>
                                    </td>
                                    <td><input type="date" name="end_date" value="{{ row.end_date|date:"Y-m-d" }}" disabled required/></td>
                                </tr>
                            {% endfor %}
                            </tbody>
                        </table>
                    </div>
                </div>

                <div id="tableforCheckCashInBank">
                    <div>
                        <div class="float-right">
                            <label for="totalforCheckCashInBank">合計(NTD):</label>
                            <input id="totalforCheckCashInBanks" type="text" value="{{ cibSummary }}" readonly/>
                        </div>
                    </div>
                    <table class="w-auto" id="cash_in_bank_table">
                        <tr class="table-active">
                            <th>銀行別</th>
                            <th>帳號</th>
                            <!--<th>類型</th>-->
                            <th>幣別</th>
                            <th>外幣金額</th>
                            <th>台幣金額</th>
                        </tr>

                        {% for row in  cibData %}
                            <tr class="input_row cib_acc">
                                {% csrf_token %}
                                <input type="hidden" name="id" value="{{ row.cash_in_banks_id }}" disabled required>
                                <td><input type="text" name="bank_name" value="{{ row.bank_name }}" disabled required/></td>
                                <td><input type="text" name="bank_account_number" value="{{ row.bank_account_number }}" disabled required/></td>
                                <td><input type="text" name="currency" value="{{ row.currency }}" disabled required/></td>
                                <td><input type="text" name="foreign_currency_amount"
                                           value="{{ row.foreign_currency_amount|default_if_none:"--" }}" disabled/></td>
                                <td><input type="number" name="ntd_amount" value="{{ row.ntd_amount }}" disabled required/></td>
                            </tr>
                        {% endfor %}

                    </table>
                </div>
                <div>
                </div>
            </div>
        </div>
    </div>
    <!--end of checking page-->
</div>

{#<script src="test3.js"></script>#}
<script type="text/javascript">
    $(document).ready(function() {
        $("#tableforCheckCashInBank").hide();
        $("#tableforCheckDepositAccount").show();
        $("button").on('click', function (e) {
            if (e.target.id == "CheckCashInBank") {
                <!--點了銀行存款，將銀行存款按鈕顯示深色-->
                $("#CheckDepositAccount").removeClass("btn-dark");
                $(this).addClass("btn btn-dark");
                <!--點了銀行存款，銀行存款div，隱藏定期存款-->
                $("#tableforCheckDepositAccount").hide();
                $("#tableforCheckCashInBank").show();

            } else if (e.target.id == "CheckDepositAccount") {
                $("#CheckCashInBank").removeClass("btn-dark");
                $(this).addClass("btn btn-dark");
                $("#tableforCheckDepositAccount").show();
                $("#tableforCheckCashInBank").hide();
            } else if (e.target.id == "EditCheck") {
                <!--點了edit後，先查看使用者當前看的是哪個table-->
                if ($("#tableforCheckDepositAccount").css('display') == 'none') {
                    <!--目前看的是銀行存款，跳到銀行存款的編輯-->
                    alert("cb v")
                } else {
                    alert("d v")
                }
            }
            {#alert(e.target.id);#}
        });

        {# TODO 編輯按鈕 #}
        $('#Edit').on('click', function () {
            console.log('in')
            $('#save').prop('disabled', false)
            {#$('#Edit').prop('disabled', true)#}
            if ($('#tableforCheckCashInBank').css('display') !== 'none') { <!-- 代表選中「銀行存款」 -->

                console.log($('#cash_in_bank_table td :input').prop("disabled"))
                $('#cash_in_bank_table td :input').prop("disabled", false)
                console.log($('#cash_in_bank_table td :input').prop('disabled'))
                $('#deposit_account_table td :input').prop("disabled", true)
            } else {
                console.log($('#cash_in_bank_table td :input'))
                $('#deposit_account_table td :input').prop("disabled", false)
                $('#cash_in_bank_table td :input').prop("disabled", true)
            }
        });

        {# TODO 儲存按鈕 #}
        $('#save').on('click', function (event) {
            event.preventDefault()
            $('#save').prop('disabled', true)
            msg = '';
            if ($('#tableforCheckDepositAccount').css('display') !== 'none') { <!-- 代表現在是「定期存款」 -->
                $('#deposit_account_table td :input').prop('disabled', 'disabled'); <!-- 不可再更改「定期存款」 -->

                {#$(document).on('click', '#save', function () {#}
                    console.log('save click')


                    {# 將關聯的所有商品包裝成 JSON 格式 [{},{},{},...]，送至後端處理，一筆筆塞入 StrategyProductRel 資料表 #}
                    var dp_acc_list = $('#deposit_account_table .dp_acc').map(function () {
                        var foreign_currency_amount = ($(this).find("input[name=foreign_currency_amount]").val() == '--' || $(this).find("input[name=foreign_currency_amount]").val() == '')
                                                    ? null: parseFloat(($(this).find("input[name=foreign_currency_amount]").val()));
                        return {
                            'id': parseInt($(this).find("input[name=id]").val()),
                            'bank_name': $(this).find("input[name=bank_name]").val(),
                            'bank_account_number': $(this).find("input[name=bank_account_number]").val(),
                            'currency': $(this).find("input[name=currency]").val(),
                            'foreign_currency_amount': foreign_currency_amount,
                            'ntd_amount': parseFloat($(this).find("input[name=ntd_amount]").val()),
                            'plege': parseInt($(this).find("input[name=plege]").val()),
                            'start_date': $(this).find("input[name=start_date]").val(),
                            'end_date': $(this).find("input[name=end_date]").val()
                        };
                    }).get();
                    console.log('dp_acc_list >>> ', dp_acc_list);

                    var postData = {
                        'data': dp_acc_list,
                    };
                    console.log('postData', postData);
                    $.ajax({
                        dataType: "json",
                        contentType: 'application/json',
                        type: "POST",
                        url: "{% url 'update_raw_file' comp_id=comp_id rpt_id=rpt_id acc_id=acc_id table_name='deposit_account' %}",
                        data: JSON.stringify(postData),
                        success: function(data) {
                            console.log('dp data', data)
                            {#data = JSON.parse(data);#}
                            console.log('data', data)
                            if (data['isUpdated'] === true) {
                                console.log('成功！')
                                msg = '成功更新定期存款'
                                alert(msg)
                            } else {
                                msg = '更新定期存款失敗，可能原因：資料欄位型態不正確'
                                alert(msg)
                            }
                        },
                        error: function(error) {
                            console.log('error msg', error)
                            msg = '定期存款更新失敗，原因：' + error
                            alert(msg)
                        }
                    })
             //   {#});#}
            } else {
                console.log('in save cash in bank')
                $('#cash_in_bank_table td :input').prop('disabled', 'disabled')
                 {#$(document).on('click', '#save', function () {#}
                     console.log('in cash in bank')


                     {# 將關聯的所有商品包裝成 JSON 格式 [{},{},{},...]，送至後端處理，一筆筆塞入 StrategyProductRel 資料表 #}
                     var cib_acc_list = $('#cash_in_bank_table .cib_acc').map(function () {
                         var foreign_currency_amount = ($(this).find("input[name=foreign_currency_amount]").val() == '--' || $(this).find("input[name=foreign_currency_amount]").val() == '')
                                    ? null : parseFloat($(this).find("input[name=foreign_currency_amount]").val().trim());
                         return {
                             'id': parseInt(($(this).find("input[name=id]").val())),
                             'bank_name': $(this).find("input[name=bank_name]").val(),
                             'bank_account_number': $(this).find("input[name=bank_account_number]").val(),
                             'currency': $(this).find("input[name=currency]").val(),
                             'foreign_currency_amount': foreign_currency_amount,
                             'ntd_amount': parseFloat($(this).find("input[name=ntd_amount]").val())
                         };
                     }).get();
                     console.log('cib_acc_list >>> ', cib_acc_list);

                     var postData = {
                         'data': cib_acc_list
                     };
                     console.log('postData', postData);
                     $.ajax({
                         dataType: "json",
                         contentType: 'application/json',
                         type: "POST",
                         url: "{% url 'update_raw_file' comp_id=comp_id rpt_id=rpt_id acc_id=acc_id table_name='cash_in_banks' %}",
                         data: JSON.stringify(postData),
                         success: function(data) {
                             console.log('data', data)
                             if (data['isUpdated'] === true) {
                                 msg = '成功更新銀行存款'
                                 alert(msg)
                             } else {
                                 msg = '更新銀行存款失敗，可能原因：資料欄位型態不正確'
                                 alert(msg)
                             }
                         },
                         error: function(error) {
                             console.log('error msg', error)
                             msg = '銀行存款更新失敗，原因：' + error
                             alert(msg)
                         }
                     })

             //   {#});#}
            }

            {#localtion.reload()#}
            {# TODO 顯示修改成功與否 #}
            {#alert(msg)#}
        });

    });
</script>
</body>
</html>
