{% load static %}{% load humanize %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/css/bootstrap.min.css" crossorigin="anonymous">
    <style type="text/css">
        .disdetail_row{
            margin-bottom: 1em;
        }
        .hide {
            display: none;
        }
        .disclosure_format_plus:hover{
            cursor: pointer;
        }
        #disclosure_checkboxes_fields .form-check {
            margin-left: 0.8em;
        }
    </style>
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">OurLogo</a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="{% url 'import' comp_id=comp_id rpt_id=rpt_id acc_id=acc_id %}" tabindex="-1"
                   aria-disabled="true"><strong>匯入</strong></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'check_page' comp_id=comp_id rpt_id=rpt_id acc_id=acc_id %}"
                   tabindex="-1" aria-disabled="true"><strong>檢查</strong></a>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link" href="{% url 'adjust_acc' comp_id=comp_id rpt_id=rpt_id acc_id=acc_id %}"
                   id="navbarDropdown" role="button"
                   aria-haspopup="true" aria-expanded="false">調整</a>
            </li>
            <li class="nav-item">
                <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">合併勾稽</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="{% url 'disclosure_page' comp_id=comp_id rpt_id=rpt_id acc_id=acc_id %}" tabindex="-1"
                   aria-disabled="true">附註格式</a>
            </li>
        </ul>
        <form class="form-inline my-2 my-lg-0">
            <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form>
        <div class="other_nav_buttons">
            <i class="fas fa-cog"></i>
            <i class="fas fa-user"></i>
        </div>
    </div>
</nav>
<br>
 
<div class="container-fulid">
<!-- start tree -->
 <div class="row">

    <div class="col-md-2 pt-5">
        <div id="tree">

        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"
        integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
        integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
        crossorigin="anonymous"></script>
        <script src="{% static 'js/bstreeview.js' %}">
    </script>
    <script>
        $(function () {

            var json = '[' +
                '{' +
                '"text": "資產",' +
                '"icon": "fa fa-inbox",' +
                '"nodes": [' +
                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}, ' +
                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}' +
                ']' +
                '},' +
                '{' +
                '"text": "負債",' +
                '"icon": "fa fa-inbox",' +
                '"nodes": [' +
                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}, ' +
                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}' +
                ']' +
                '},' +
                '{' +
                '"text": "權益",' +
                '"icon": "fa fa-inbox",' +
                '"nodes": [' +
                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}, ' +
                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}' +
                ']' +
                '},' +
                '{' +
                '"text": "損益",' +
                '"icon": "fa fa-inbox",' +
                '"nodes": [' +
                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}, ' +
                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}' +
                ']' +
                '},' +
                '{' +
                '"text": "其他",' +
                '"icon": "fa fa-inbox",' +
                '"nodes": [' +
                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}, ' +
                '{' +
                '"icon": "fa fa-inbox",' +
                '"text": "Others"' +
                '}' +
                ']' +
                '}' +
                ']';

            $('#tree').bstreeview({ data: json });

        });
    </script>
    <!-- endof tree-->

    <div class="col-10 justify-content-between">
        <button id="add_disdetail_btn" type="button" class="col-sm-3 btn btn-secondary">新增附註格式分類</button>
        <button id="show_disclosure_format_plus_btn" type="button" class="col-sm-1 btn btn-secondary">編輯</button>
        <button id="update_disclosure_format_btn" type="button" class="col-sm-1 btn btn-secondary hide">確定</button>
    </div>

    <br>

    {% for disdetail in disdetail_qry_set %}
        <div class="disdetail_row row">
            <div class="col-sm-10">
                <div data-disdetail="{{ disdetail.dis_detail_id }}" class="row font-weight-bold lead" style="border-bottom-style: solid; border-bottom-color: darkgray;">
                    <div class="disdetail_name col-sm-7">{{ disdetail.row_name }}</div>
                    <div class="disdetail_sum col-sm-4 text-right"></div>
                    <div class="col-sm-1 text-right"><span class="disclosure_format_plus hide">➕</span></div>
                </div>
                {% for disclosure in disclosure_qry_set %}
                    {% if disclosure.dis_detail__dis_detail_id == disdetail.dis_detail_id %}
                        <div data-disclosure="{{ disclosure.disclosure_id }}" class="row">
                            <div class="col-sm-6 offset-2">{{ disclosure.pre__acc__acc_name }}</div>
                            <div class="disclosure_amount col-sm-3 text-right">{{ disclosure.pre_amt|floatformat:0|intcomma:False }}</div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
    {% endfor %}
    {% for unspecified_disdetail in unspecified_disdetail_qry_set %}
        <div class="disdetail_row row">
            <div class="col-sm-10">
                <div data-disdetail="{{ unspecified_disdetail.dis_detail_id }}" class="row font-weight-bold lead">
                    <div class="disdetail_name col-sm-7"></div>
                    <div class="disdetail_sum col-sm-4 text-right"></div>
                    <div class="col-sm-1 text-right"><span class="disclosure_format_plus hide">➕</span></div>
                </div>
            </div>
        </div>
    {% endfor %}

</div>
   

<!-- 附註格式 Modal -->
<div class="modal fade" id="disclosure_format_modal" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">附註格式設定</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <div class="col-sm-12">
                    <input type="text" class="disdetail_name form-control" placeholder="附註格式名稱" value="">
                    <hr>
                    {#  顯示科目層級  #}
                    <div id="acc_level_fields" class="row btn-group" role="group" aria-label="Basic example">
                        <button id="level_1_acc_btn" type="button" class="acc_level_btn btn btn-link">Level 1</button>
                        <button id="level_2_acc_btn" type="button" class="acc_level_btn btn btn-link">Level 2</button>
                    </div>
                    {#  顯示科目選項  #}
                    <div id="disclosure_checkboxes_fields" class="row"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">取消</button>
                <button id="update_frontend_notes_btn" type="button" class="btn btn-primary">暫時儲存</button>
            </div>
        </div>
    </div>
</div>
</div>

<!--這個卡到tree  <script src="https://code.jquery.com/jquery-3.5.1.js" crossorigin="anonymous"></script>-->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.5.3/dist/js/bootstrap.bundle.js" crossorigin="anonymous"></script>
<script type="text/javascript">
    
    $(document).ready(function () {
        var anotherVariable = jQuery.noConflict()
        disdetail_row = null;
        acc_level = 1;

       
    refresh_disclosure_amount_in_disdetail();
        {# 更新畫面的 disdetail 金額，金額為底下的 disclosure 金額相加 #}
        function refresh_disclosure_amount_in_disdetail() {
            jQuery('.disdetail_row').each(function() {
                if ($('div[data-disclosure]:not(".hide")', this).length == 0) {
                    $(this).addClass('hide');
                } else {
                    var disclosure_amount_in_a_disdetail_list = $('[data-disclosure]:not(".hide")', this).map(function () {
                        return parseFloat($('.disclosure_amount', this).text().replaceAll(',', ''))
                    }).get();
                    $('.disdetail_sum', this).text(Number(eval(disclosure_amount_in_a_disdetail_list.join("+"))).toLocaleString('en'));
                }

            });
            {#$('#disclosure_checkboxes_fields').empty();#}
        }
        
        {# 顯示哪些科目已經被選取了 #}
        function set_acc_checked() {
            {#$('#disclosure_checkboxes_fields .form-check-input').prop('checked', false);#}
            if (acc_level === 1) {
                disdetail_row.find('div[data-disclosure]:not(".hide")').each(function() {
                    $('#disclosure_checkboxes_fields .form-check-input[id="' + $(this).attr('data-disclosure') + '"]').prop('checked', true)
                });
            } else if (acc_level === 2) {
                var disclosure_id_list = disdetail_row.find("div[data-disclosure]").map(function () {
                    return parseInt($(this).attr('data-disclosure'));
                }).get();
                console.log('disclosure_id_list', disclosure_id_list);

                {% for acc_level_2 in disdetail_editor %}
                    var acc_level_2_disclosure_id_list = {{ acc_level_2.disclosure_id_list }};
                    console.log('acc disclosure id list', acc_level_2_disclosure_id_list);
                    {# 若 disdetail 下的 disclosure id list 包含了 acc_level_2 所對應的所有 disclosure id，則 acc_level_2 打勾 #}
                    if (acc_level_2_disclosure_id_list.every(id => disclosure_id_list.includes(id))) {
                        var acc_parent_name = "{{ acc_level_2.acc_parent_name }}";
                        $('#disclosure_checkboxes_fields label.form-check-label:contains("'+ acc_parent_name +'")').siblings('input.form-check-input:checkbox').prop('checked', true);
                    }
                {% endfor %}
            }
        }

        {# 「編輯」按鈕按下後，在 disdetail 旁邊顯示「+」 #}
        jQuery('#show_disclosure_format_plus_btn').on('click', function() {
            $('.disclosure_format_plus').removeClass('hide');
            $('#show_disclosure_format_plus_btn').addClass('hide');
            $('#update_disclosure_format_btn').removeClass('hide');
        });

        {#  資料送至後端  #}
        jQuery('#update_disclosure_format_btn').on('click', function() {
            {# 畫面變更 #}
            $('#show_disclosure_format_plus_btn').removeClass('hide');
            $('#update_disclosure_format_btn').addClass('hide');
            $('.disclosure_format_plus').addClass('hide');
            {#  檢查有無未選到的 disclosure  #}
            if ($('[data-disclosure]').not('.hide').length < {{ disclosure_qry_set.count }}) {
                alert('有尚未選到的 disclosure，無法更新。');
                return;
            }
            {# 抓取要傳回後端的資料 #}
            result = [];
            $('.disdetail_row').each(function() {
                data = {};
                var disclosures_list = $('[data-disclosure]', this).map(function() {
                    return {
                        disclosure_id: $(this).attr('data-disclosure'),
                        {# TODO 要改成從後端傳過來的資料中取得 pre_amt，不要直接從畫面撈，否則可能有被篡改的問題。 #}
                        pre_amt: parseFloat($(':nth-child(2)', this).text().replaceAll(',', ''))
                    };
                }).get();
                data['disdetail_id'] = $(this).find('div[data-disdetail]').attr('data-disdetail');
                data['row_name'] = $(this).find('div[data-disdetail] .disdetail_name').text();
                data['disclosures'] = disclosures_list;
                result.push(data);
            });
            console.log('目前回傳至後端的資料', result);
            $.ajax({
                dataType: "json",
                contentType: 'application/json',
                type: "POST",
                url: "{% url 'disclosure_page' comp_id=comp_id rpt_id=rpt_id acc_id=acc_id %}",
                data: JSON.stringify(result),
                success: function(data) {
                    alert(data['msg'])
                },
                error: function(error) {
                    alert(error)
                }
            });
        });

        {# 按下「+」後，顯示附註格式設定 modal #}
        jQuery('.disclosure_format_plus').on('click', function () {
            disdetail_row = $(this).parents('.disdetail_row');
            $('#disclosure_checkboxes_fields').empty();
            {# 顯示科目層級及可選的科目，預設顯示 level 1 的科目 #}
            acc_level = 1;
            {% for disclosure in disclosure_qry_set %}
                    $('#disclosure_checkboxes_fields').append('<div class="form-check col-sm-5">' +
                                            '                            <input class="form-check-input" type="checkbox" value="{{ disclosure.disclosure_id }}" id="{{ disclosure.disclosure_id }}">' +
                                            '                            <label class="form-check-label" for="{{ disclosure.disclosure_id }}">{{ disclosure.pre__acc__acc_name }}</label>' +
                                            '                        </div>');
            {% endfor %}
            var disdetail_name = disdetail_row.find('.disdetail_name').text();
            set_acc_checked();
            $('#disclosure_format_modal .modal-body input[type="text"]').val(disdetail_name);
            $('#disclosure_format_modal').modal('show');
        });

        {# 按下 acc level btn #}
        jQuery('.acc_level_btn').on('click', function() {
            $('#disclosure_checkboxes_fields').empty();
            if ($(this).prop('id') === 'level_1_acc_btn') {
                acc_level = 1;
                {% for disclosure in disclosure_qry_set %}
                    $('#disclosure_checkboxes_fields').append('<div class="form-check col-sm-5">' +
                                            '                            <input class="form-check-input" type="checkbox" value="{{ disclosure.disclosure_id }}" id="{{ disclosure.disclosure_id }}">' +
                                            '                            <label class="form-check-label" for="disclosure-1">{{ disclosure.pre__acc__acc_name }}</label>' +
                                            '                        </div>');
                {% endfor %}
            } else if ($(this).prop('id') === 'level_2_acc_btn') {
                acc_level = 2;
                {% for acc_level_2 in disdetail_editor %}
                    $('#disclosure_checkboxes_fields').append('<div class="form-check col-sm-5">' +
                                            '                            <input class="form-check-input" type="checkbox" value="" id="">' +
                                            '                            <label class="form-check-label" for="disclosure-1">{{ acc_level_2.acc_parent_name }}</label>' +
                                            '                        </div>');
                {% endfor %}
            }
            set_acc_checked();
        });

        {# 按下附註格式設定 modal 的「暫時儲存」後，關閉 modal 並更新前端 #}
        jQuery('#update_frontend_notes_btn').on('click', function () {
            {# 更新畫面 #}
            if (disdetail_row.hasClass('hide')) {
                if ($('#disclosure_format_modal .modal-body .disdetail_name').val().trim() == '' || $('#disclosure_checkboxes_fields .form-check-input:checkbox:checked').length == 0) {
                    alert('沒有名稱或選擇科目');
                    return;
                }
                $('.disdetail_row').last().after(disdetail_row);
                disdetail_row.removeClass('hide');
            }
            var selected_disclosure_id_list = [];
            if (acc_level == 1) {
                selected_disclosure_id_list = $.map($('#disclosure_checkboxes_fields .form-check-input:checkbox:checked'), (checked_disclosure) => {return checked_disclosure.value});
            } else if (acc_level == 2) {
                {% for acc_level in disdetail_editor %}
                    if ("{{ acc_level.acc_parent_name }}" == $('#disclosure_checkboxes_fields .form-check-input:checkbox:checked').siblings('label.form-check-label').text()) {
                        selected_disclosure_id_list.push.apply(selected_disclosure_id_list, {{ acc_level.disclosure_id_list }} );
                    }
                {% endfor %}
            }
            $('div[data-disclosure]', disdetail_row).addClass('hide');
            selected_disclosure_id_list.forEach(function (id) {
                var disclosure = $('.disdetail_row div[data-disclosure=' + id + ']');
                var origin_disclosure_parent = disclosure.closest('.disdetail_row');
                disdetail_row.find('div[data-disdetail]').after(disclosure.removeClass('hide').get());
                {# 如果 disdetail 下沒有 disclosure，則將 disdetail 隱藏起來 #}
                if (origin_disclosure_parent.find('div[data-disclosure]').length == 0) {
                    origin_disclosure_parent.addClass('hide');
                }
            });
            disdetail_row.find('.disdetail_name').text($('#disclosure_format_modal .modal-body .disdetail_name').val());
            refresh_disclosure_amount_in_disdetail();
            $('#disclosure_format_modal').modal('hide');
            $('#disclosure_format_modal .modal-body .form-check-input:checkbox').removeAttr('checked');

        });
    });

    {# 按下「新增附註格式分類」 #}
    jQuery('#add_disdetail_btn').on('click', function() {
        $('#disclosure_checkboxes_fields').empty();
        acc_level = 1;
        {% for disclosure in disclosure_qry_set %}
                    $('#disclosure_checkboxes_fields').append('<div class="form-check col-sm-5">' +
                                            '                            <input class="form-check-input" type="checkbox" value="{{ disclosure.disclosure_id }}" id="{{ disclosure.disclosure_id }}">' +
                                            '                            <label class="form-check-label" for="disclosure-1">{{ disclosure.pre__acc__acc_name }}</label>' +
                                            '                        </div>');
        {% endfor %}
        {# 檢查目前的 disdetail 是否已經超過 disclosure 數量 #}
        var disclosure_length = {{ disclosure_qry_set.count }};
        if ($('.disdetail_row.hide').length === 0 || $('.disdetail_row.hide').length > disclosure_length) {
            alert('附註格式分類不可比附註格式多！');
        } else {
            {# 「編輯」按鈕變「確定」按鈕 #}
            $('.disclosure_format_plus').removeClass('hide');
            $('#show_disclosure_format_plus_btn').addClass('hide');
            $('#update_disclosure_format_btn').removeClass('hide');
            disdetail_row = $('.disdetail_row.hide:first');
            disdetail_row.find('.disdetail_name').text('');

            $('#disclosure_format_modal .modal-body .disdetail_name').val('');
            $('#disclosure_format_modal .form-check-input:checkbox').prop('checked', false);
            $('#disclosure_format_modal').modal('show');
        }

    });
</script>
</body>
</html>